.imgresponsive{
	    max-width: 80%;
	    height: auto;
	   /* padding: .25rem;*/
	} 
	.imgresponsive2{
	    max-width: 70%;
	    height: auto;
	   /* padding: .25rem;*/
	} 
.bloque0{
		background-image: url('../images/texture-min.jpg');
		height: 100%;

	}
.bloque1{
		background-color: white;
		height: 100%;

	}
.bloque2{
		background-color: #2086adfa;
		height: 100%;

	}
.bloque4{
		background-color: #e0dede;
		height: 100%;

	}
.bloque5{
		background-color: #e0dede;
		height: 100%;
	}
.imgContacto{
	background-image: url('../images/imgContacto.svg');
    width: 400px;
    height: auto;
    background-repeat: no-repeat;
}


.nav-link{
	color: blue !important;
}

section{
	height: 100vh;
}
